
<div role="navigation" aria-label="masthead" class="masthead">
  <div class="grid-x">
      <div class="cell small-11 medium-9 large-6 small-order-2 medium-order-1">
          <a class="header-link" href="{{site.baseurl}}/">
            {% if page.home == true %}
            <img src="{{site.baseurl}}/dist/images/logos/api-standards-logo.svg" alt="API Standards logo" class="logo"><img src="{{site.baseurl}}/dist/images/api-standards-header.svg" alt="API Standards logo" class="logo-heading">
            {% else %}
            <img src="{{site.baseurl}}/dist/images/logos/api-standards-logo-white.svg" alt="API Standards logo" class="logo">
            <h1>API Standards</h1>
            {% endif %}
          </a>
      </div>
      <div class="cell small-1 medium-3 large-6 small-order-1 medium-order-2">
        <div class="mobile-nav-bar" data-responsive-toggle="toggle-main-nav" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle="toggle-main-nav"></button>
        </div>
        <div class="main-nav-wrapper" id="toggle-main-nav">
          <nav aria-label="main-nav" class="main-nav">
            <ul class="vertical medium-horizontal menu">
              <li><a href="{{site.baseurl}}/categories" {% if page.type == 'categories' %} class="current-page" {% endif %}>Categories</a></li>  
            </ul>
          </nav>
        </div>
      </div>
  </div> 
</div>
<!-- close masthead -->