<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include header.html %}
  <body class="doc-template {{ page.permalink }}">
    {% include masthead.html %}
    <div class="grid-container">
      <div role="main">
        {{ content }}
        <div id="api-root"></div>
      </div>
    </div>
    {% include footer.html %}
    <script id="page-data" type="application/json">
    {
      "dashboardURL": "{{ site.dashboard-url }}",
      "back": {
        "url": "{% if site.baseurl %}{{ site.baseurl}}/{% endif %}{{ page.parent }}",
        "title": "{{ page.parent-title }}"
      },
      "api": {
        "logo": "{{site.baseurl}}{{ page.api-logo }}",
        "execSummary": "{{ page.api-exec-summary }}",
        "exampleUse": "{{ page.api-example-use }}",
        "publishedBy": "{{ page.api-published-by }}"
      }
    }
    </script>
    <script src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/scripts/api-view.min.js"></script>
  </body>
</html>